@import '../index.css';

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  border-width: 1rem;
  bottom: 5%;
  right: 5%;
}

.button {
  display: block;
  height: 45px;
  width: 45px;
  background-color: rgb(0, 140, 255);
  color: #f1f1f1;
  border-radius: 50%;
  font-size: 2rem;
  margin-top: 1rem;
}

.darkButton {
  background-color: var(--background-flip);
  font-size: 1rem;
}

.iconButton {
  background-image: url(https://avatars3.githubusercontent.com/u/24757020)
    no-repeat;
}
