.zone {
  /* position: fixed; */
  /* margin-left: 25%; */
  width: 40vw;
  height: 100px;
  /* top: 70%; */
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: dashed;
  border-width: 2px;
  font-size: large;
}

@media screen and (max-width: 767px) {
  .zone {
    width: 55vw;
  }
}

.focus {
  background-color: darkorange;
  opacity: 0.5;
}
