.zone {
  position: fixed;
  margin-left: 25%;
  width: 50vw;
  height: 25%;
  z-index: -1;
  top: 70%;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: dashed;
  border-width: 2px;
  font-size: large;
}

.focus {
  background-color: darkorange;
  opacity: 0.5;
}
